@import "tailwindcss";

@keyframes float-up {
  0% {
    transform: translateY(120vh) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: .25;
  }

  90% {
    opacity: .25;
  }

  100% {
    transform: translateY(-250vh) rotate(720deg);
    opacity: 0;
  }
}

.animate-float-shape {
  position: absolute;
  bottom: -100px;
  pointer-events: none;
  animation: float-up linear infinite;
  animation-fill-mode: backwards;
}